Witaj {{nickName}}

Dziękujemy za rejestrację w aplikacji Huron. Przed pierwszym zalogowaniem musisz jeszcze potwierdzić swój email adres otwierając następujący link: {{tokenVerificationUri}}/{{token}}

Jeśli nie tworzyłeś konta w aplikacji Huron, możesz zignorować tę wiadomość, a rejestracja wygaśnie.