Witaj {{nickName}}

Otrzymaliśmy żądanie zresetowania Twojego konta w aplikcaji Huron. Możesz kontynuować procedurę otwierając w przeglądarce adres {{passwordResetUri}}/{{token}}.

Jeśli żądanie nie było wysłane przez Ciebie, możesz zignorować tę wiadomość, a powyższy link wygaśnie.