Dear {{nickName}}

Thank you for joining Huron App. Before first login you have to confirm your email address by opening following link: {{tokenVerificationUri}}/{{token}}

If you didn't request this, please ignore this message and link will expire.